matplotlib
notebook
regex
numpy
pandas
pillow
pyimagej
scikit-image==0.18.0
tqdm
torch
scyjava
imglyb
jpype1
xarray
pyyaml
imagecodecs
torchvision
openslide-python
opencv-python
scikit-learn
tensorboardX
future
h5py
huggingface
timm
seaborn
#pyimagej
